@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Playfair+Display:ital@1&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(252, 251, 242); 
overflow-x: hidden;
}



#header{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: -1;

}

#img{
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    background-image: url("test-art.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
}

#header h1{
    color:rgb(252, 251, 242) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 65px;
    white-space: nowrap;
font-weight: bolder;
}



#home-links{
    position: relative;
height: 700px;
width: 100%;
}

#circle-links-container{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: 500px;
    width: 100%;
    gap:150px;
    display: flex;
align-items: center;
justify-content: center;
}

.circle-links{
    position: relative;
margin-top: 200px;
width: 250px;
overflow: hidden;
height: 250px;
border-radius: 50%;
border: 1px solid black;
}

.circle-links img{
object-fit: cover;
width: 100%;
height: 100%;
transition: transform .5s;
}

.circle-links img:hover{
   transform: scale(1.2);
}

.circle-links p{
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size:25px ;
color:rgb(252, 251, 242) ;
white-space: nowrap;
}

.circle-links:has(p:hover) img{
    transform: scale(1.2);
}
 
#art-section{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    white-space: nowrap;
}

#wrap{
    position: sticky;
    top: 0;
z-index: 1;
}

#nav-bar{
    position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 5px solid black;
        border-top: 3px solid black;
        background-color:rgb(255, 255, 255);
    }
    
    #nav-tag {
       position: absolute;
        top: 50%;
        left: 1%;
        transform:translate(0,-50%) rotateY(180deg);
        font-size: 30px;
      color: black;
    }
    
    
    
    
    #links-container{
    position: absolute;
    right:0;
    }
    
    #links-container ul{
        list-style: none;
       
    }
    
    #links-container ul li {
        float: left;
        width: 140px;
        height: 42px;
        text-align: center;
        line-height: 40px;
       
    }
    
    #links-container ul li a {
    display: block;
        text-decoration: none;
        color: black;
        font-size: 35px;
        transition: font-size .2s ;
       
    }
    
    #links-container ul li a:hover
    {
        font-size:40px;
    }
    
    
    
    #dropdown  ul li{
    background:rgb(255, 255, 255) ;
    height: 50px;
    display: none;
    transition: all .3s ease-in-out;
    border-top: 2px solid black;
    animation: one .5s ease;
    }
    
    #dropdown  ul li a {
        font-size: 25px;
    }
    
    #dropdown:hover ul li{
    display: block;
    }
    
    #dropdown ul li a:hover{
        font-size: 27px;
        }
    
    #menu{
        display: none;
    }
    
    @keyframes one {
        0%{
           opacity: 0;
        }
        100%{
            opacity: 1;
         }
    }

#scroll-down{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    z-index: -1;
}


#scroll-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space:nowrap;
    font-size:15px;
    font-weight: bolder;
}

#scroll-box{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 35px;
    height: 60px;
border: 2px solid black;
border-radius: 20px;
}

#scroll-dot{
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%);
width:10px;
height: 20px;
border: 2px solid black;
border-radius: 10px;
animation: fade 1.5s infinite;
}

@keyframes fade {
    30%{
        opacity: 1;
    }
    
    100%{
top: 50%;
opacity: 0;
    }
}

@media (max-width: 450px) {
    #header h1{
        font-size: 40px;
    }
    #header{
        height: 400px;
    }
    #links-container{
        display: none;
    }
    #menu{
        display: block;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0,-50%);
        font-size: 30px;
    }
    #nav-bar h1{
        font-size: 35px;
    }

    #scroll-down{
        margin-top: 50px;
    }

    #home-links{
        position: relative;
        height: 1300px;
        width: 100%;
        }
        
        #circle-links-container{
            position: absolute;
            top: 300px;
            height: 1000px;
            width: 100%;
            flex-direction: column;
            gap: 0;
            display: flex;
align-items: center;
justify-content: center;
transform: translate(0,0);
        }


    .circle-links{
       position: relative;
        margin-top: 60px;
    width: 250px;
    overflow: hidden;
    height: 250px;
    border-radius: 50%;
    border: 1px solid black;
    }
    .circle-links img{
        transform: scale(1.2);
    }
}

#red{
view-transition-name:name;
position: absolute;
color:red;
left: 50%;
top: 0;
}

#blue{
    view-transition-name: name;
    position: absolute;
    color: blue;
    left: 0;
    top: 0;
    z-index: 20;
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


::view-transition-old(root){
    animation: fade-out 350ms;
}

::view-transition-new(root){
    animation: fade-in 350ms;
}
